//============================================= ARGENTBANK ===========//
// _HERO =============================================================//
//==================================== By NEPHELIM ============ 2024 =//

@use "../../scss/colors.module.scss" as colors;

.hero {
    // position
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    width: 100%;
    background: colors.$backgroundSite;
    background-image: url("./bank-tree.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    // content

    &Square {
        max-width: 250px;
        justify-items: start;
        width: fit-content;
        height: fit-content;
        background: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        margin: 2rem;

    }

}

.subtitle {
    max-width: 300px;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 auto;
}

.text {
    text-align: left;
    margin-bottom: 0;
    font-size: 0.9rem;
}

@media (min-width: 920px) {
    .hero {
        aspect-ratio: 3.5;
    }
}