//============================================= ARGENTBANK ===========//
// _WELCOME ==========================================================//
//==================================== By NEPHA ============ 2024 ====//
@use "../../scss/colors.module.scss" as colors;


.welcome {
    text-align: center;
    color: colors.$colorTypoWhite;
    margin: 2rem;
}

.buttonEdit {
    border-color: colors.$colorMain;
    background-color: colors.$colorMain;
    color: colors.$colorTypoWhite;
    font-weight: bold;
    padding: 10px;
    border-radius: 7px;
    margin: 0.3rem;
}



.transaction-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: colors.$colorMain;
    background-color: colors.$colorMain;
    color: colors.$colorTypoWhite;
}

.inputWrapper {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid colors.$colorMain;
        background-color: colors.$colorWhite;
        border-radius: 7px;
        margin: 0.3rem;
    }

    button {
        display: block;
        width: 100px;
        padding: 0.3rem 1rem;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0.3rem;
        border-color: colors.$colorMain;
        background-color: colors.$colorMain;
        color: colors.$colorWhite;
        border-radius: 7px;
    }
}


@media (min-width: 720px) {
    .account {
        flex-direction: row;
    }

    .account-content-wrapper.cta {
        flex: 0;
    }

    .transaction-button {
        width: 200px;
    }
}