//============================================= ARGENTBANK ===========//
// _HOME =============================================================//
//==================================== By NEPHELIM ============ 2024 =//

@use "../../scss/colors.module.scss" as colors;

.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: colors.$backgroundSiteLight;
    color: colors.$colorTypoBlack;
    text-align: center;
}