//===================================== OC-13 ARGENTBANK =============//
//= FEATURES ========================== OC-13 ARGENTBANK === $$$$ ====//
//===================================== 😛 ===========================//
@use "../../scss/colors.module.scss" as colors;

.feature {
    display: flex;
    flex-direction: column;
    flex: 1;

    &Icon {
        width: 100px;
        border: 10px solid colors.$colorMain;
        border-radius: 50%;
        padding: 1rem;
    }

    &Item {
        flex: 1;
        padding: 2.5rem;
    }

    &Title {
        color: colors.$colorBlack;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 920px) {
    .feature {
        flex-direction: row;
    }
}