//============================================= YOUCODEUSE ===========//
// FOOTER ============================================================//
//==================================== By NEPHA ============ 2024 ====//
@use "../../scss/colors.module.scss" as colors;

.footer {
    display: flex;
    justify-content: center;
    background: colors.$backgroundFooter;
    border-top: 2px solid colors.$colorSecondary;
    padding: 2rem 0 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.footerText {
    color: colors.$colorTypoGrey;
    margin: 0;
    padding: 0;
}